@page "/prestamos"
@page "/prestamos/{PrestamosId:int}"
@inject PrestamosBLL prestamosBLL

<EditForm Model="prestamos">
<div class="accordion-item">
    <div class="modal-header">
        <h1>Registro Prestamos</h1>
    </div>
 <div class="accordion-body">     
    <label for="prestamos">PrestamosId</label>
    <InputNumber @bind-Value="prestamos.PrestamosId" class="form-control" />
    <button type="button" class="btn btn-primary"  @onclick="Buscar" > Buscar </button>

      <br />
      <br />

      <label for="Fecha">Fecha</label>
      <InputDate @bind-Value="prestamos.fecha" class="form-control" />
      <br />
      <br />

      <label for="Vence">vence</label>
      <InputDate @bind-Value="prestamos.vence" class="form-control" />
      <br />
      <br />

      <label for="PersonaId">PersonaId</label>
      <InputNumber @bind-Value="prestamos.personaid" class="form-control" />
      <br />
      <br />

      <label for="Concepto">Concepto</label>
      <InputText @bind-Value="prestamos.concepto" class="form-control" />
      <br />
      <br />

      <label for="Monto">Monto</label>
      <InputNumber @bind-Value="prestamos.monto" class="form-control" />
      <br />
      <br />

      <label for="Balance">Balance</label>
      <InputNumber @bind-Value="prestamos.balance" class="form-control" />
      <br />
      <br />

   </div>

    <div class="accordion-flush">
        <button type="button" class="btn btn-primary"  @onclick="Nuevo" > Nuevo </button>
        <button type="button" class="btn btn-success" @onclick="Guardar" > Guardar</button>
        <button type="button" class="btn btn-danger" @onclick="Eliminar"> Eliminar</button>
    </div>
</div>
</EditForm>

@code {
    [Parameter]
    public int PrestamosId {get; set; }

    public Prestamos prestamos {get; set; } = new Prestamos();

    protected override void OnInitialized()
    {
        if(PrestamosId > 0)
        {
            this.prestamos.PrestamosId = PrestamosId;
            this.Buscar();
        }
    } 
    public void Buscar()
    {
        if (prestamos.PrestamosId > 0)
        {
            var encontrado = prestamosBLL.Buscar(prestamos.PrestamosId);
            Nuevo();
            if (encontrado != null)
                this.prestamos = encontrado;
        }
    }
    public void Nuevo()
    {
        this.prestamos = new Prestamos();
    }

    public void Guardar()
    {
        var guardado = prestamosBLL.Guardar(prestamos);

        if (guardado)
        {
            Nuevo();
        }
        else
        {
        }

    }
    public void Eliminar()
    {
        if(prestamosBLL.Eliminar(prestamos))
        {
            Nuevo();
        }
    }

}
